In [91]:
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportion_confint

In [92]:
prev_df = pd.read_excel('../ab_drug_class_table_02.xlsx', header=[0, 1],
                        index_col=0)
prev_df

              numbers                            number/total_service  \
                    1        2        3        4                    1
total_service  564776  1236809  2070703  5204806                  NaN
total_person   359121   358920   332538   341918                  NaN
J01A             8485    27340    54007   127612             0.015024
J01B               36       50       64      127             0.000064
J01C           205342   446094   732530  1831530             0.363581
J01D           152764   349116   591492  1578858             0.270486
J01E             8387    16032    26692    76115             0.014850
J01F            97438   212065   357315   852577             0.172525
J01G             9894    21669    37198   107827             0.017518
J01M            80330   158911   259850   593983             0.142233
J01X             2100     5532    11555    36177             0.003718

                                             s_ci_low            ...  \
                      2         3         4         1         2  ...
total_service       NaN       NaN       NaN       NaN       NaN  ...
total_person        NaN       NaN       NaN       NaN       NaN  ...
J01A           0.022105  0.026081  0.024518  0.014706  0.021846  ...
J01B           0.000040  0.000031  0.000024  0.000043  0.000029  ...
J01C           0.360681  0.353759  0.351892  0.362327  0.359835  ...
J01D           0.282272  0.285648  0.303346  0.269327  0.281478  ...
J01E           0.012962  0.012890  0.014624  0.014535  0.012763  ...
J01F           0.171461  0.172557  0.163806  0.171540  0.170797  ...
J01G           0.017520  0.017964  0.020717  0.017176  0.017289  ...
J01M           0.128485  0.125489  0.114122  0.141322  0.127895  ...
J01X           0.004473  0.005580  0.006951  0.003560  0.004355  ...

               p_ci_low   p_ci_up                                \
                      4         1         2         3         4
total_service       NaN       NaN       NaN       NaN       NaN
total_person        NaN       NaN       NaN       NaN       NaN
J01A           0.371603  0.024124  0.077041  0.163662  0.374845
J01B           0.000307  0.000133  0.000178  0.000240  0.000436
J01C                NaN  0.573409       NaN       NaN       NaN
J01D                NaN  0.427000  0.973218       NaN       NaN
J01E           0.221217  0.023848  0.045343  0.081191  0.224006
J01F                NaN  0.272778  0.592451       NaN       NaN
J01G           0.313802  0.028086  0.061152  0.112932  0.316917
J01M                NaN  0.225048  0.444373  0.782819       NaN
J01X           0.104775  0.006097  0.015816  0.035370  0.106837

              ever_proportion
                            1         2         3         4        4.1
total_service             NaN       NaN       NaN       NaN        NaN
total_person              NaN       NaN       NaN       NaN        NaN
J01A                 0.978077  0.930416  0.866319  0.759589        NaN
J01B                 0.999900  0.999863  0.999811  0.999658  minus one
J01C                 0.576561  0.357035  0.211822  0.088627        NaN
J01D                 0.628941  0.366686  0.186337  0.056502        NaN
J01E                 0.977818  0.959328  0.930904  0.851783        NaN
J01F                 0.753732  0.560975  0.381141  0.192590        NaN
J01G                 0.974287  0.945718  0.905791  0.793854        NaN
J01M                 0.793468  0.658225  0.511557  0.322984        NaN
J01X                 0.994684  0.986161  0.969922  0.929428        NaN

[11 rows x 33 columns]

In [93]:
def build_string(val_df, low_df, up_df, to_percentage, decimals=2):

    if to_percentage:
        val_df = val_df * 100
        low_df = low_df * 100
        up_df = up_df * 100

    val_df = val_df.map(lambda x: f'{x:.2f}')
    low_df = low_df.map(lambda x: f'{x:.2f}')
    up_df = up_df.map(lambda x: f'{x:.2f}')



    return val_df + ' (' + low_df + '-' + up_df + ')'

In [94]:
proportion_df = prev_df['number/total_service']

In [95]:
drug_classes = ['J01A', 'J01B', 'J01C', 'J01D', 'J01E', 'J01F', 'J01G', 'J01M', 'J01X']

In [96]:
proportion_df = proportion_df.loc[drug_classes]
proportion_df

             1         2         3         4
J01A  0.015024  0.022105  0.026081  0.024518
J01B  0.000064  0.000040  0.000031  0.000024
J01C  0.363581  0.360681  0.353759  0.351892
J01D  0.270486  0.282272  0.285648  0.303346
J01E  0.014850  0.012962  0.012890  0.014624
J01F  0.172525  0.171461  0.172557  0.163806
J01G  0.017518  0.017520  0.017964  0.020717
J01M  0.142233  0.128485  0.125489  0.114122
J01X  0.003718  0.004473  0.005580  0.006951

In [97]:
concat_dict = dict()

In [98]:
concat_dict['proportion'] = build_string(
    prev_df.loc[drug_classes, 'number/total_service'],
    prev_df.loc[drug_classes, 's_ci_low'],
    prev_df.loc[drug_classes, 's_ci_up'],
    to_percentage=True,
    decimals=2
)

In [99]:
concat_dict['proportion']

,1,2,3,4
J01A,1.50 (1.47-1.53),2.21 (2.18-2.24),2.61 (2.59-2.63),2.45 (2.44-2.47)
J01B,0.01 (0.00-0.01),0.00 (0.00-0.01),0.00 (0.00-0.00),0.00 (0.00-0.00)
J01C,36.36 (36.23-36.48),36.07 (35.98-36.15),35.38 (35.31-35.44),35.19 (35.15-35.23)
J01D,27.05 (26.93-27.16),28.23 (28.15-28.31),28.56 (28.50-28.63),30.33 (30.30-30.37)
J01E,1.49 (1.45-1.52),1.30 (1.28-1.32),1.29 (1.27-1.30),1.46 (1.45-1.47)
J01F,17.25 (17.15-17.35),17.15 (17.08-17.21),17.26 (17.20-17.31),16.38 (16.35-16.41)
J01G,1.75 (1.72-1.79),1.75 (1.73-1.78),1.80 (1.78-1.81),2.07 (2.06-2.08)
J01M,14.22 (14.13-14.31),12.85 (12.79-12.91),12.55 (12.50-12.59),11.41 (11.38-11.44)
J01X,0.37 (0.36-0.39),0.45 (0.44-0.46),0.56 (0.55-0.57),0.70 (0.69-0.70)

### Building everproportion and CI

In [ ]:
ab_df = pd.read_pickle('../../Drug class data/ab_drug_class_numbers_encr.pkl')
ab_df.drop(ab_df.loc[ab_df['cat'] == 0].index, axis=0, inplace=True)
ab_df

In [101]:
temp = pd.DataFrame(columns=sorted(ab_df['cat'].unique()))
for cat in sorted(ab_df['cat'].unique()):
    temp_cat = ab_df.loc[ab_df['cat'] == cat]
    temp[cat] = (temp_cat[drug_classes] > 0).sum()

In [102]:
temp

           1       2       3       4
J01A    7873   24975   44454   82201
J01B      36      49      63     117
J01C  152066  230773  262099  311615
J01D  133255  227309  270574  322599
J01E    7966   14598   22977   50678
J01F   88440  157575  205794  276068
J01G    9234   19483   31328   70485
J01M   74170  122670  162426  231484
J01X    1909    4967   10002   24130

In [103]:
temp_low, temp_up = proportion_confint(
    temp,
    prev_df.loc['total_person', 'numbers']
)
temp_low.columns = temp.columns
temp_up.columns = temp.columns

In [104]:
temp_ever = pd.DataFrame(columns=sorted(ab_df['cat'].unique()))
for cat in sorted(ab_df['cat'].unique()):
    temp_cat = ab_df.loc[ab_df['cat'] == cat]
    temp_ever[cat] = (temp_cat[drug_classes] > 0).sum() / temp_cat.shape[0]

In [105]:
concat_dict['ever_proportion'] = build_string(
    temp_ever,
    temp_low,
    temp_up,
    to_percentage=True,
    decimals=2
)

In [106]:
concat_dict['proportion'].loc['total'] = prev_df.loc['total_service', 'numbers']
concat_dict['proportion']

,1,2,3,4
J01A,1.50 (1.47-1.53),2.21 (2.18-2.24),2.61 (2.59-2.63),2.45 (2.44-2.47)
J01B,0.01 (0.00-0.01),0.00 (0.00-0.01),0.00 (0.00-0.00),0.00 (0.00-0.00)
J01C,36.36 (36.23-36.48),36.07 (35.98-36.15),35.38 (35.31-35.44),35.19 (35.15-35.23)
J01D,27.05 (26.93-27.16),28.23 (28.15-28.31),28.56 (28.50-28.63),30.33 (30.30-30.37)
J01E,1.49 (1.45-1.52),1.30 (1.28-1.32),1.29 (1.27-1.30),1.46 (1.45-1.47)
J01F,17.25 (17.15-17.35),17.15 (17.08-17.21),17.26 (17.20-17.31),16.38 (16.35-16.41)
J01G,1.75 (1.72-1.79),1.75 (1.73-1.78),1.80 (1.78-1.81),2.07 (2.06-2.08)
J01M,14.22 (14.13-14.31),12.85 (12.79-12.91),12.55 (12.50-12.59),11.41 (11.38-11.44)
J01X,0.37 (0.36-0.39),0.45 (0.44-0.46),0.56 (0.55-0.57),0.70 (0.69-0.70)
total,564776,1236809,2070703,5204806

In [107]:
total_person = ab_df['cat'].value_counts().sort_index()

In [110]:
concat_dict['ever_proportion'].loc['total'] = total_person
concat_dict['ever_proportion']

,1,2,3,4
J01A,2.19 (2.14-2.24),6.96 (6.88-7.04),13.37 (13.25-13.48),24.04 (23.90-24.18)
J01B,0.01 (0.01-0.01),0.01 (0.01-0.02),0.02 (0.01-0.02),0.03 (0.03-0.04)
J01C,42.34 (42.18-42.51),64.30 (64.14-64.45),78.82 (78.68-78.96),91.14 (91.04-91.23)
J01D,37.11 (36.95-37.26),63.33 (63.17-63.49),81.37 (81.23-81.50),94.35 (94.27-94.43)
J01E,2.22 (2.17-2.27),4.07 (4.00-4.13),6.91 (6.82-7.00),14.82 (14.70-14.94)
J01F,24.63 (24.49-24.77),43.90 (43.74-44.06),61.89 (61.72-62.05),80.74 (80.61-80.87)
J01G,2.57 (2.52-2.62),5.43 (5.35-5.50),9.42 (9.32-9.52),20.61 (20.48-20.75)
J01M,20.65 (20.52-20.79),34.18 (34.02-34.33),48.84 (48.67-49.01),67.70 (67.54-67.86)
J01X,0.53 (0.51-0.56),1.38 (1.35-1.42),3.01 (2.95-3.07),7.06 (6.97-7.14)
total,359121,358920,332538,341918

In [111]:
col_name_mapper = {1:'Q1', 2: 'Q2', 3: 'Q3', 4: 'Q4'}

In [112]:
final_df = pd.concat(concat_dict, axis=1).rename(col_name_mapper, axis=1, level=1)

In [113]:
final_df

                proportion                                            \
                        Q1                   Q2                   Q3
J01A      1.50 (1.47-1.53)     2.21 (2.18-2.24)     2.61 (2.59-2.63)
J01B      0.01 (0.00-0.01)     0.00 (0.00-0.01)     0.00 (0.00-0.00)
J01C   36.36 (36.23-36.48)  36.07 (35.98-36.15)  35.38 (35.31-35.44)
J01D   27.05 (26.93-27.16)  28.23 (28.15-28.31)  28.56 (28.50-28.63)
J01E      1.49 (1.45-1.52)     1.30 (1.28-1.32)     1.29 (1.27-1.30)
J01F   17.25 (17.15-17.35)  17.15 (17.08-17.21)  17.26 (17.20-17.31)
J01G      1.75 (1.72-1.79)     1.75 (1.73-1.78)     1.80 (1.78-1.81)
J01M   14.22 (14.13-14.31)  12.85 (12.79-12.91)  12.55 (12.50-12.59)
J01X      0.37 (0.36-0.39)     0.45 (0.44-0.46)     0.56 (0.55-0.57)
total               564776              1236809              2070703

                                ever_proportion                       \
                        Q4                   Q1                   Q2
J01A      2.45 (2.44-2.47)     2.19 (2.14-2.24)     6.96 (6.88-7.04)
J01B      0.00 (0.00-0.00)     0.01 (0.01-0.01)     0.01 (0.01-0.02)
J01C   35.19 (35.15-35.23)  42.34 (42.18-42.51)  64.30 (64.14-64.45)
J01D   30.33 (30.30-30.37)  37.11 (36.95-37.26)  63.33 (63.17-63.49)
J01E      1.46 (1.45-1.47)     2.22 (2.17-2.27)     4.07 (4.00-4.13)
J01F   16.38 (16.35-16.41)  24.63 (24.49-24.77)  43.90 (43.74-44.06)
J01G      2.07 (2.06-2.08)     2.57 (2.52-2.62)     5.43 (5.35-5.50)
J01M   11.41 (11.38-11.44)  20.65 (20.52-20.79)  34.18 (34.02-34.33)
J01X      0.70 (0.69-0.70)     0.53 (0.51-0.56)     1.38 (1.35-1.42)
total              5204806               359121               358920


                        Q3                   Q4
J01A   13.37 (13.25-13.48)  24.04 (23.90-24.18)
J01B      0.02 (0.01-0.02)     0.03 (0.03-0.04)
J01C   78.82 (78.68-78.96)  91.14 (91.04-91.23)
J01D   81.37 (81.23-81.50)  94.35 (94.27-94.43)
J01E      6.91 (6.82-7.00)  14.82 (14.70-14.94)
J01F   61.89 (61.72-62.05)  80.74 (80.61-80.87)
J01G      9.42 (9.32-9.52)  20.61 (20.48-20.75)
J01M   48.84 (48.67-49.01)  67.70 (67.54-67.86)
J01X      3.01 (2.95-3.07)     7.06 (6.97-7.14)
total               332538               341918

In [114]:
# Saving ab_drug_class_table_edited.xlsx
# final_df.to_excel('../ab_drug_class_table_edited.xlsx')