In [53]:
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportion_confint

In [54]:
prev_df = pd.read_excel('../dm_drug_class_table.xlsx', header=[0, 1], index_col=0)
prev_df

       numbers                                     proportions            \
             0        1        2        3        4           0         1
total  1416989  2133477  2447351  2534071  3037953         NaN       NaN
A10A    349511   495833   566391   599865   786545    0.246658  0.232406
A10BA   604704   932477  1074961  1110256  1292404    0.426753  0.437069
A10BB   317368   491835   560281   573678   683884    0.223974  0.230532
A10BD     5710     6287     6615     7613     9739    0.004030  0.002947
A10BF    46835    72187    87860    90785   103534    0.033052  0.033835
A10BG    63329    91966   103041   104656   111929    0.044693  0.043106
A10BJ       34       55       67       58      106    0.000024  0.000026
A10BX    29498    42837    48135    47160    49812    0.020817  0.020078

                                       ci_low                                \
              2         3         4         0         1         2         3
total       NaN       NaN       NaN       NaN       NaN       NaN       NaN
A10A   0.231430  0.236720  0.258906  0.245948  0.231839  0.230902  0.236197
A10BA  0.439235  0.438131  0.425419  0.425938  0.436404  0.438613  0.437520
A10BB  0.228934  0.226386  0.225113  0.223287  0.229967  0.228407  0.225871
A10BD  0.002703  0.003004  0.003206  0.003925  0.002874  0.002638  0.002937
A10BF  0.035900  0.035826  0.034080  0.032758  0.033593  0.035667  0.035597
A10BG  0.042103  0.041300  0.036844  0.044352  0.042834  0.041851  0.041055
A10BJ  0.000027  0.000023  0.000035  0.000016  0.000019  0.000021  0.000017
A10BX  0.019668  0.018610  0.016397  0.020582  0.019890  0.019494  0.018444

                    ci_up
              4         0         1         2         3         4
total       NaN       NaN       NaN       NaN       NaN       NaN
A10A   0.258414  0.247367  0.232973  0.231959  0.237243  0.259399
A10BA  0.424863  0.427567  0.437735  0.439856  0.438742  0.425975
A10BB  0.224644  0.224660  0.231097  0.229460  0.226901  0.225583
A10BD  0.003142  0.004134  0.003020  0.002768  0.003072  0.003269
A10BF  0.033876  0.033347  0.034078  0.036133  0.036055  0.034284
A10BG  0.036632  0.045033  0.043379  0.042355  0.041545  0.037055
A10BJ  0.000028  0.000032  0.000033  0.000034  0.000029  0.000042
A10BX  0.016254  0.021052  0.020267  0.019842  0.018777  0.016539

In [55]:
def build_string(val_df, low_df, up_df, to_percentage, decimals=2):

    if to_percentage:
        val_df = val_df * 100
        low_df = low_df * 100
        up_df = up_df * 100

    val_df = val_df.map(lambda x: f'{x:.2f}')
    low_df = low_df.map(lambda x: f'{x:.2f}')
    up_df = up_df.map(lambda x: f'{x:.2f}')



    return val_df + ' (' + low_df + '-' + up_df + ')'

In [56]:
drug_classes = ['A10A', 'A10BA', 'A10BB', 'A10BD', 'A10BF', 'A10BG', 'A10BJ', 'A10BX']

In [57]:
concat_dict = dict()

In [58]:
concat_dict['proportion'] = build_string(
    prev_df.loc[drug_classes, 'proportions'],
    prev_df.loc[drug_classes, 'ci_low'],
    prev_df.loc[drug_classes, 'ci_up'],
    to_percentage=True,
    decimals=2
)

### Building everproportion and CI

In [ ]:
dm_df = pd.read_pickle('../../Drug class data/dm_drug_class_numbers_encr.pkl')
dm_df

In [60]:
temp = pd.DataFrame(columns=sorted(dm_df['cat'].unique()))
for cat in sorted(dm_df['cat'].unique()):
    temp_cat = dm_df.loc[dm_df['cat'] == cat]
    temp[cat] = (temp_cat[drug_classes] > 0).sum()

In [61]:
temp

            0       1       2       3       4
A10A    56038   60668   60486   57735   67161
A10BA  244900  295134  301325  282979  292631
A10BB  116069  135284  134548  124816  136288
A10BD    2385    2194    2170    2170    2756
A10BF   18465   23597   26547   27146   31457
A10BG   25694   31205   33359   32803   36400
A10BJ      16      26      27      21      40
A10BX   12453   15130   16056   14993   15619

In [62]:
nobs = dm_df['cat'].value_counts().sort_index()

In [63]:
def my_proportion_confint(count, nobs, col_names):
    
    low, up = proportion_confint(count, nobs)

    low.columns = col_names
    up.columns = col_names
    
    return low, up

In [64]:
temp_low, temp_up = my_proportion_confint(temp, nobs, temp.columns)

In [65]:
temp_low

              0         1         2         3         4
A10A   0.178442  0.167709  0.167298  0.172332  0.195093
A10BA  0.784289  0.820572  0.838332  0.849757  0.854674
A10BB  0.370695  0.375124  0.373285  0.373698  0.396957
A10BD  0.007346  0.005855  0.005792  0.006252  0.007761
A10BF  0.058414  0.064897  0.073107  0.080702  0.091033
A10BG  0.081470  0.085971  0.091993  0.097631  0.105424
A10BJ  0.000026  0.000045  0.000047  0.000036  0.000081
A10BX  0.039266  0.041474  0.044058  0.044381  0.044981

In [66]:
temp_up

              0         1         2         3         4
A10A   0.181139  0.170160  0.169747  0.174907  0.197756
A10BA  0.787170  0.823075  0.840733  0.852178  0.857029
A10BB  0.374089  0.378293  0.376453  0.376989  0.400240
A10BD  0.007958  0.006364  0.006300  0.006799  0.008360
A10BF  0.060071  0.066518  0.074820  0.082563  0.092970
A10BG  0.083401  0.087814  0.093893  0.099658  0.107492
A10BJ  0.000076  0.000100  0.000104  0.000090  0.000153
A10BX  0.040641  0.042788  0.045410  0.045792  0.046380

In [67]:
temp_ever = pd.DataFrame(columns=sorted(dm_df['cat'].unique()))
for cat in sorted(dm_df['cat'].unique()):
    temp_cat = dm_df.loc[dm_df['cat'] == cat]
    temp_ever[cat] = (temp_cat[drug_classes] > 0).sum() / temp_cat.shape[0]

In [68]:
temp_ever

              0         1         2         3         4
A10A   0.179790  0.168935  0.168522  0.173619  0.196424
A10BA  0.785729  0.821823  0.839532  0.850967  0.855851
A10BB  0.372392  0.376709  0.374869  0.375344  0.398598
A10BD  0.007652  0.006109  0.006046  0.006526  0.008060
A10BF  0.059243  0.065708  0.073964  0.081633  0.092002
A10BG  0.082436  0.086893  0.092943  0.098644  0.106458
A10BJ  0.000051  0.000072  0.000075  0.000063  0.000117
A10BX  0.039954  0.042131  0.044734  0.045087  0.045681

In [69]:
concat_dict['ever_proportion'] = build_string(
    temp_ever,
    temp_low,
    temp_up,
    to_percentage=True,
    decimals=2
)

In [70]:
concat_dict['proportion'].loc['total'] = prev_df.loc['total', 'numbers']
concat_dict['proportion']

,0,1,2,3,4
A10A,24.67 (24.59-24.74),23.24 (23.18-23.30),23.14 (23.09-23.20),23.67 (23.62-23.72),25.89 (25.84-25.94)
A10BA,42.68 (42.59-42.76),43.71 (43.64-43.77),43.92 (43.86-43.99),43.81 (43.75-43.87),42.54 (42.49-42.60)
A10BB,22.40 (22.33-22.47),23.05 (23.00-23.11),22.89 (22.84-22.95),22.64 (22.59-22.69),22.51 (22.46-22.56)
A10BD,0.40 (0.39-0.41),0.29 (0.29-0.30),0.27 (0.26-0.28),0.30 (0.29-0.31),0.32 (0.31-0.33)
A10BF,3.31 (3.28-3.33),3.38 (3.36-3.41),3.59 (3.57-3.61),3.58 (3.56-3.61),3.41 (3.39-3.43)
A10BG,4.47 (4.44-4.50),4.31 (4.28-4.34),4.21 (4.19-4.24),4.13 (4.11-4.15),3.68 (3.66-3.71)
A10BJ,0.00 (0.00-0.00),0.00 (0.00-0.00),0.00 (0.00-0.00),0.00 (0.00-0.00),0.00 (0.00-0.00)
A10BX,2.08 (2.06-2.11),2.01 (1.99-2.03),1.97 (1.95-1.98),1.86 (1.84-1.88),1.64 (1.63-1.65)
total,1416989.0,2133477.0,2447351.0,2534071.0,3037953.0

In [71]:
total_person = dm_df['cat'].value_counts().sort_index()
total_person

cat
0    311685
1    359121
2    358920
3    332538
4    341918
Name: count, dtype: int64

In [72]:
concat_dict['ever_proportion'].loc['total'] = total_person
concat_dict['ever_proportion']

,0,1,2,3,4
A10A,17.98 (17.84-18.11),16.89 (16.77-17.02),16.85 (16.73-16.97),17.36 (17.23-17.49),19.64 (19.51-19.78)
A10BA,78.57 (78.43-78.72),82.18 (82.06-82.31),83.95 (83.83-84.07),85.10 (84.98-85.22),85.59 (85.47-85.70)
A10BB,37.24 (37.07-37.41),37.67 (37.51-37.83),37.49 (37.33-37.65),37.53 (37.37-37.70),39.86 (39.70-40.02)
A10BD,0.77 (0.73-0.80),0.61 (0.59-0.64),0.60 (0.58-0.63),0.65 (0.63-0.68),0.81 (0.78-0.84)
A10BF,5.92 (5.84-6.01),6.57 (6.49-6.65),7.40 (7.31-7.48),8.16 (8.07-8.26),9.20 (9.10-9.30)
A10BG,8.24 (8.15-8.34),8.69 (8.60-8.78),9.29 (9.20-9.39),9.86 (9.76-9.97),10.65 (10.54-10.75)
A10BJ,0.01 (0.00-0.01),0.01 (0.00-0.01),0.01 (0.00-0.01),0.01 (0.00-0.01),0.01 (0.01-0.02)
A10BX,4.00 (3.93-4.06),4.21 (4.15-4.28),4.47 (4.41-4.54),4.51 (4.44-4.58),4.57 (4.50-4.64)
total,311685,359121,358920,332538,341918

In [73]:
col_name_mapper = {0: 'No Antibiotic', 1:'Q1', 2: 'Q2', 3: 'Q3', 4: 'Q4'}

In [74]:
final_df = pd.concat(concat_dict, axis=1).rename(col_name_mapper, axis=1, level=1)

In [75]:
final_df

                proportion                                            \
             No Antibiotic                   Q1                   Q2
A10A   24.67 (24.59-24.74)  23.24 (23.18-23.30)  23.14 (23.09-23.20)
A10BA  42.68 (42.59-42.76)  43.71 (43.64-43.77)  43.92 (43.86-43.99)
A10BB  22.40 (22.33-22.47)  23.05 (23.00-23.11)  22.89 (22.84-22.95)
A10BD     0.40 (0.39-0.41)     0.29 (0.29-0.30)     0.27 (0.26-0.28)
A10BF     3.31 (3.28-3.33)     3.38 (3.36-3.41)     3.59 (3.57-3.61)
A10BG     4.47 (4.44-4.50)     4.31 (4.28-4.34)     4.21 (4.19-4.24)
A10BJ     0.00 (0.00-0.00)     0.00 (0.00-0.00)     0.00 (0.00-0.00)
A10BX     2.08 (2.06-2.11)     2.01 (1.99-2.03)     1.97 (1.95-1.98)
total            1416989.0            2133477.0            2447351.0

                                                     ever_proportion  \
                        Q3                   Q4        No Antibiotic
A10A   23.67 (23.62-23.72)  25.89 (25.84-25.94)  17.98 (17.84-18.11)
A10BA  43.81 (43.75-43.87)  42.54 (42.49-42.60)  78.57 (78.43-78.72)
A10BB  22.64 (22.59-22.69)  22.51 (22.46-22.56)  37.24 (37.07-37.41)
A10BD     0.30 (0.29-0.31)     0.32 (0.31-0.33)     0.77 (0.73-0.80)
A10BF     3.58 (3.56-3.61)     3.41 (3.39-3.43)     5.92 (5.84-6.01)
A10BG     4.13 (4.11-4.15)     3.68 (3.66-3.71)     8.24 (8.15-8.34)
A10BJ     0.00 (0.00-0.00)     0.00 (0.00-0.00)     0.01 (0.00-0.01)
A10BX     1.86 (1.84-1.88)     1.64 (1.63-1.65)     4.00 (3.93-4.06)
total            2534071.0            3037953.0               311685

                                                                      \
                        Q1                   Q2                   Q3
A10A   16.89 (16.77-17.02)  16.85 (16.73-16.97)  17.36 (17.23-17.49)
A10BA  82.18 (82.06-82.31)  83.95 (83.83-84.07)  85.10 (84.98-85.22)
A10BB  37.67 (37.51-37.83)  37.49 (37.33-37.65)  37.53 (37.37-37.70)
A10BD     0.61 (0.59-0.64)     0.60 (0.58-0.63)     0.65 (0.63-0.68)
A10BF     6.57 (6.49-6.65)     7.40 (7.31-7.48)     8.16 (8.07-8.26)
A10BG     8.69 (8.60-8.78)     9.29 (9.20-9.39)     9.86 (9.76-9.97)
A10BJ     0.01 (0.00-0.01)     0.01 (0.00-0.01)     0.01 (0.00-0.01)
A10BX     4.21 (4.15-4.28)     4.47 (4.41-4.54)     4.51 (4.44-4.58)
total               359121               358920               332538


                        Q4
A10A   19.64 (19.51-19.78)
A10BA  85.59 (85.47-85.70)
A10BB  39.86 (39.70-40.02)
A10BD     0.81 (0.78-0.84)
A10BF     9.20 (9.10-9.30)
A10BG  10.65 (10.54-10.75)
A10BJ     0.01 (0.01-0.02)
A10BX     4.57 (4.50-4.64)
total               341918

In [77]:
# Saving dm_drug_class_table_edited.xlsx
# final_df.to_excel('../dm_drug_class_table_edited.xlsx')